@model IEnumerable<Trazabilidad.Common.Models.Surdef>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Possur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manguera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codsur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstacion)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Possur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manguera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codsur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdSurdef }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdSurdef }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdSurdef })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
